@import "../../assets/scss/variables";

.levelButton {
  background: $primary;
  color: $black;
  padding: 2px 32px;
}
.levelsButton {
  background: $secondary;
  color: $black;
  padding: 2px 32px;
}
.about {
  background: #141414;
  color: $white;
  float: right;
  padding: 2px 38px;
}
section.mainMenu {
  &,
  &.mainMenu-item {
    padding: 8px auto !important;
  }

  position: fixed;
  bottom: 0;
  width: 100%;
  .levelsButton,
  .levelButton,
  .save {
    float: left;
    display: inline-block;
    cursor: pointer;
  }

  .levelsButton + .details {
    height: 40em;
    overflow-y: scroll;
  }
}

.levelsButton .dropdown-menu {
  font-family: $font-secondary !important;
}

.level-details {
  bottom: 30px;
  left: 5px;

  input {
    background: none;

    &.toggle {
      display: none;

      &:checked + label {
        background: $on;
      }

      &:not(:checked) + label {
        background: $off;
      }

      & + label {
        padding: 3px 8px;
      }
    }
  }

  .needed {
    color: #3f0;
  }

  .available {
    color: #f96;
  }

  .on {
    background: $on;
    color: $white;
  }

  .off {
    background: $off;
    color: $white;
  }
}

button.save {
  background: $exit;
  color: $white;
  text-shadow: 1px 1px 0 $black;
  padding: 0 12px;
  border-top: 2px solid $exit-border-left-top;
  border-right: 2px solid $exit-border-right-bottom;
  border-bottom: 2px solid $exit-border-right-bottom;
  border-left: 2px solid $exit-border-left-top;
}
select {
  float: right;
  border: none;
  background: none;
  -webkit-appearance: none;
}
