@import '~bootstrap/scss/bootstrap';

@import 'variables';
@import 'bootstrap-overrides';

@font-face {
    font-family: $font;
    src: urL('fonts/#{$font}.TTF');
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
body {
    background: $base;
}
::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}
* {
    font-family: $font;
    margin: 0;
    padding: 0;  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    border: none;
}


#field {
    display: block;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}
#field td {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.mainMenu {
    background: $base;
}
button {
    border: none;
}
div.levels {
    background: $secondary;
    color: #000;
    padding: 2px 32px;
}
div.level {
    background: $primary;
    color: #000;
    padding: 2px 32px;
}
section.mainMenu {
    .levels, .level, .save {
        display: inline-block;
        float: left;
        cursor: pointer;
    }
}
button.save {
    background: $save;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    padding: 0 12px;
    border-top: 2px solid rgb(227,227,55);
    border-right: 2px solid rgb(195,27,27);
    border-bottom: 2px solid rgb(195,27,27);
    border-left: 2px solid rgb(227,227,55);
    
}
select {
    float: right;
    border: none;
    background: none;
    -webkit-appearance: none;
}
.text-centre {
    text-align: center;
}
.details {
    position: fixed;
    background: #000;
    color: #fff;
    padding: 1px 6px;
}
.level-details {
    bottom: 30px;
    left: 5px;

    input.toggle {
        display: none;
        &:checked + label {
            background: $on;
        }

        &:not(:checked) + label {
            background: $off;
        }

        & + label {
            padding: 3px 8px;
        }
    }

    .needed {
        color: #3f0;
    }

    .available {
        color: #f96;
    }

    .on {
        background: $on;
        color: #fff;
    }

    .off {
        background: $off;
        color: #fff;
    }
}

.mainMenu {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.mainMenuHolder {
    height: 24px;
}

.level-details input {
    background: none;
}

.mainMenu .mainMenu-item {
    padding: 8px auto !important;
}

.selection-button {
    padding: 2.5px 6px 5.5px 6px;

    &:hover, &:focus, &.active {
        padding: 2.5px 4px 5.5px 4px;
        border: 2px solid black;
    }

    img {
        width: 12px;
    }
}