@import "./assets/scss/variables";
@import "./assets/scss/bootstrap-overrrides";
@import "./assets/scss/fonts";
@import "./assets/scss/elements-images";

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}
* {
  font-family: $font;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
  border: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
body {
  background: $base;
}

.mainMenu {
  background: $base;
}
button {
  border: none;
}

.text-centre {
  text-align: center;
}
.details {
  position: fixed;
  background: $black;
  color: $white;
  padding: 1px 6px;
}
.level-details {
  bottom: 30px;
  left: 5px;

  input.toggle {
    display: none;
    &:checked + label {
      background: $on;
    }

    &:not(:checked) + label {
      background: $off;
    }

    & + label {
      padding: 3px 8px;
    }
  }

  .needed {
    color: #3f0;
  }

  .available {
    color: #f96;
  }

  .on {
    background: $on;
    color: $white;
  }

  .off {
    background: $off;
    color: $white;
  }
}

.selection-button {
  padding: 2.5px 6px 5.5px 6px;

  &:hover,
  &:focus,
  &.active {
    padding: 2.5px 4px 5.5px 4px;
    border: 2px solid $black;
  }

  img {
    width: 12px;
  }
}
