* {
    margin: 0;
    padding: 0;
}

#administration {
    position: fixed;
    top: 10px;
    left: 10px;
}

#field {
    display: block;
    overflow: auto;
    white-space: nowrap;
}
#field td {
    width: 32px;
    height: 32px;
    display: inline-block;
}