@each $val in $elements {
  .#{$val} {
    background: url("#{$icon-path}classic/#{$val}.png");
    width: 32px;
    height: 32px;
  }

  .#{$val}-transparent {
    background: url("#{$icon-path}classic/#{$val}-transparent.png") no-repeat;
  }
}
